*
{
    text-align: center;
    font-family: Arial, sans-serif;
}
img[alt="industrial electric motor"]
{
    display: block;
    left:15%;
    position: absolute;
    width: 70%;
    z-index: -1;
}
aside.left
{
    float: left;
    width: 50%;
    overflow: hidden;
    margin: 2%;
    padding: 15px;
}
aside.right
{
    float: right;
    width: 25%;
    overflow: hidden;
    margin: 1%;
    padding: 15px;
}